.deleteButton {
  background-color: #ff4d4d;
  color: white;
  padding: 5px 5px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 33%;
  opacity: 0.9;
  font-size: 15px;
  font-family: Optima, sans-serif;
  font-weight: bold;
  border-radius: 3px;
}

.deleteButton:hover {
  opacity: 1;
  color: #001a33;
}

