/* Set a style for the submit button */
.submitButton {
  background-color: #e6ac00;
  color: white;
  padding: 15px 15px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  font-size: 20px;
  font-family: Optima, sans-serif;
  font-weight: bold;
  border-radius: 3px;
}

.submitButton:hover {
  opacity: 1;
  color: #001a33;
}

