* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.app {
    max-width: 100%;
    margin: 0 auto;
}

.container {
    padding: 0.5%;
    padding-bottom: 10%;
    background-color: #E0E0E0;
}
