.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: auto;
  text-align: left;
  font-family: arial;
  background-color: white;
  padding: 10px 10px;
  display: inline-block;
  margin: 20px 20px;
}

.image {
    width:350px;
    height: 250px;
}

.p {
    padding: 5px
}

.deleteButton {
  background-color: #ff4d4d;
  color: white;
  padding: 5px 5px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 33%;
  opacity: 0.9;
  font-size: 15px;
  font-family: Optima, sans-serif;
  font-weight: bold;
  border-radius: 3px;
}

.deleteButton:hover {
  opacity: 1;
  color: #001a33;
}


