
.homePage {
    background: url(https://media.california.com/media/_versions_webp/articles/hero__california_wallpaper__5679x2421___v2560x1091.webp) ;
    background-size: cover;
    background-position: center;
    margin: 0 20px;
}

.h2 {
    margin: 0;
    padding: 70px 0 20px 100px;
    font-size: 50px;
    color: #001a33;
    width: 60%;
}

.info {
    text-decoration: none;
    color: #001a33;
    font-size: 30px;
    padding: 0 0 500px 100px;
}

